@import "industries.css";
@import "info-block-2-part.css";
@import "contact-form.css";
@import "accordion.css";

@media (min-width: 768px) {
    .padding-block:not(.init-block) .vc_col-sm-6,
    .info-block-2-part .vc_col-sm-6,
    .row-values .vc_col-sm-8,
    .solutions-cards .vc_col-sm-4,
    .row-values .vc_col-sm-4 {
        width: 100%;
    }
    .vc_page_section .vc_row.grid-3 {
        gap: 20px;
        flex-direction: row;
    }

    .vc_page_section .vc_row.grid-5-items {
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: row;
    }


    .grid-3 .vc_col-sm-4, .grid-5-items .vc_col-sm-1\/5 {
        width: calc((100% - 20px) / 2)
    }

    .vc_col-sm-3 {
        width: calc((100% - 16px) / 2)
    }
}

@media (min-width: 1200px) {
    .padding-block:not(.init-block) .vc_col-sm-6, .info-block-2-part .vc_col-sm-6 {
        width: 50%;
    }

    .vc_col-sm-3 {
        width: calc((100% - 8px) / 4)
    }

    .row-values .vc_col-sm-8 {
        width: 66.66666667%;
    }
    .solutions-cards .vc_col-sm-4, .row-values .vc_col-sm-4 {
        width: 33.33333333%;
    }

    .grid-3 .vc_col-sm-4 {
        width: calc((100% - 40px) / 3)
    }
}

@media (min-width: 1440px) {
    .grid-3 .vc_col-sm-4 {
        width: calc((100% - 48px) / 3)
    }
    .vc_page_section .vc_row.grid-3 {
        gap: 24px;
    }
}

@media (min-width: 1920px) {
    .grid-3 .vc_col-sm-4 {
        width: calc((100% - 64px) / 3)
    }

    .vc_page_section .vc_row.grid-3 {
        gap: 32px;
    }
}

.dark-gray-bg {
    background-color: var(--darkGrayBg);
}

.mid-gray-bg {
    background-color: var(--grayColor);
}

.light-gray-bg {
    background-color: var(--border);
}

.primary-bg {
    background-color: var(--primary);
}

.text-light {
    color: var(--colorLight)
}

.dark-gray-bg .banner-card-title p, .primary-bg .banner-card-title p {
    color: var(--colorLight);
}

.light-gray-bg p {
    color: var(--text-header);
}

.banner-card-title p {
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 4px;
    margin-top: 0;
}

.banner-grid .main-text p {
    font-weight: 500;
    margin: 0;
}

.banner-grid .common-card:first-child {
    border-radius: 4px 4px 0 0;
}

.banner-grid .common-card:last-child {
    border-radius: 0 0 4px 4px;
}

.SwiperSolver {
    margin-bottom: 8px;
}
.column-text > ul:not(:first-child):not(.add-list) {
    margin-top: 8px;
}


.SwiperSolver li:not(:last-child), .swiper li:not(:last-child),
.hide-block li:not(:last-child), .common-card ul:not(.add-list) li:not(:last-child), .column-text > ul:not(.add-list) li:not(:last-child) {
    margin-bottom: 8px;
}

.swiper li, .hide-block li,  .column-text > ul:not(.add-list) li {
    display: flex;
    position: relative;
    list-style-type: none;
    gap: 16px;
}

.common-card ul:not(.add-list) li {
    display: block;
    padding-left: 20px;
}

.SwiperSolver li,.hide-block li, .common-card ul:not(.add-list) li, .column-text > ul:not(.add-list) li {
    color: var(--secondDarkColor);

}

li strong, .common-card ul:not(.add-list) li strong, .column-text > ul:not(.add-list) li strong {
    display: contents;
    font-weight: 500;
    color: var(--text-header);
}

.SwiperSolver li::before, .swiper li::before, .hide-block li::before,  .common-card .column-text > ul > li::before, .column-text > ul > li::before {
    content: '';
    flex-shrink: 0;
    width: 9px;
    height: 9px;
    background-color: var(--brand---primary);
    position: relative;
    top: 8px;
}



.SwiperSolver li::before, .common-card ul:not(.add-list) li::before, .column-text > ul:not(.add-list) li::before {
    top: 5px;
}

.common-card ul:not(.add-list) li::before {
    position: absolute;
    left: 0;
    top: 8px;
}

.common-card ul:not(.add-list) li ul {
    padding-top: 8px;
    list-style-position: outside;
}

.common-card ul:not(.add-list) li ul li{
    display: list-item;
    list-style-type: disc;
    padding-left: 0;
}

ul li::marker {
    margin: 0 !important;
}

.SwiperSolver .swiper-container {
    padding-bottom: 46px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: var(--bullet);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--text-header);
}

.cta-flex-img {
    margin-bottom: 16px;
}

.grid-2-title-block {
    margin-bottom: 24px;
}

.row-values__title-column .wpb_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.value-section .subheader-text p {
    color: var(--secondDarkColor);
}

body .vc_page_section .vc_row.vc_inner.row-values {
    padding-top: var(--gap-tablet);
    padding-bottom: var(--gap-tablet);
    border-bottom: 1px solid var(--border);
}


.row-values:hover {
    background-color: var(--text-header);
    transition: background-color .3s ease-out;
}

.row-values:hover h3.title, .row-values:hover .value-column-text p {
    transition: color .3s ease-out;
}

.row-values:hover .transparent-dark.ideo-wow-title h3.title {
    color: var(--colorLight);

}

.row-values:hover .value-column-text p {
    color: var(--secondLightColor);
}

.vc_page_section.industries-section .title-subtitle {
    margin-bottom: var(--margin-title-mobile);
}

.common-img-card .wpb_wrapper {
    padding: 56px 24px;
}

.nps-img {
    margin-bottom: 20px;
}

.grid-2-img-block {
    margin-bottom: 56px;
    overflow: hidden;
}

.grid-with-img .h2-subtitle p:last-child, .grid-with-img .common-link {
    margin-bottom: var(--gap-desctop-m);
}

.location-icon, .location-card .h3-title h3.title  {
    margin-bottom: 8px;
}

.sub-text, .sub-text p{
    color: var(--secondDarkColor);
}

.team-cards-wrapper > .wpb_wrapper {
    display: grid;
    gap: 16px;
}

.location-cards .wpb_wrapper, .propels-block .wpb_wrapper, .solutions-cards-wrapper > .wpb_wrapper{
    display: grid;
    gap: var(--gap-tablet);
}

.dark-info-section .b-margin.h2-title h2.title{
    margin-bottom: 32px;
}

.dark-info-section .h2-subtitle p{
    margin-bottom: 24px;
}

.icon-with-title .propels-icon {
    margin-bottom: 12px;
}

.h2-title.info-block-title .title {
    margin-bottom: 32px;
}

.info-tags .ideo-box-content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.info-tag {
    border-radius: 200px;
    padding: 9px 17px;
    width: 100%;
    text-align: center;
}

.info-tag:not(.bg-light){
    background-color: var(--mainLightbg);
}

.info-tag p {
    margin: 0;
    color: var(--text-header);
}

.numbers-card {
    border-left: 2px solid var(--brand---primary);
}

.numbers-card .banner-card-title {
    margin-bottom: 8px;
}

.grid-2-columns__item .grid-2-column-img {
    margin-bottom: 18px;

}

.grid-2-columns__item .grid-2-column-img .ideo-single-image{
    width: 152px !important;
}

.grid-2-columns__item .ideo-wow-title.style-text .title {
    margin-bottom: 8px;
}
.grid-2-columns__item .sub-text {
    margin-bottom: 12px;
}

.team-cards-wrapper .ideo-single-image {
    width: 100% !important;
}

.SwiperSolver .main-text + ul {
    margin-top: 12px;
}

.form-info-text:not(:last-child) {
    margin-bottom: 24px;
}

.sticky-card-title.sticky-last-step-centred {
    text-align: center;
}


.column-text ul li ul li {
    color: var(--text-header);
}


@media (min-width: 768px) {
    .sticky-card-title.sticky-last-step-centred {
        text-align: left;
    }
    .banner-card-title p {
        font-size: 48px;
    }

    .banner-grid .wpb_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-grid .common-card:first-child {
        border-radius: 4px 0 0 0;
    }

    .banner-grid .common-card:nth-child(2) {
        border-radius: 0 4px 0 0;
    }

    .banner-grid .common-card:nth-child(3) {
        border-radius: 0 0 0 4px;
    }

    .banner-grid .common-card:last-child {
        border-radius: 0 0 4px 0;
    }

    .cta-flex-img {
        margin-bottom: 0;
    }

    .cta-flex-img .ideo-single-image {
        width: 80px !important;
    }

    #content .cta-flex-wrapper.cta-block > .wpb_wrapper .h3-title h3.title {
        margin-bottom: 0;
    }

    .cta-flex-wrapper .wpb_wrapper {
        display: grid;
        grid-template-columns: max-content auto max-content;
        align-items: center;
        gap: 16px;
    }

    .value-icon .ideo-single-image {
        width: 80px !important;
    }

    .row-values__title-column .ideo-wow-title.align-center.h3-title h3 {
        /*white-space: nowrap;*/
        text-align: left;
    }

    .common-img-card .wpb_wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }


    .location-card .h3-title h3.title {
        margin-bottom: 12px;
    }

    .location-cards .wpb_wrapper, .propels-block .wpb_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2-columns__item .grid-2-column-img {
        margin-bottom: 0;
    }

    .grid-2-columns__item .wpb_wrapper {
        display: flex;
        gap:var(--gap-tablet);
    }

    .grid-2-columns__item-info .ideo-box-content {
        display: flex;
        flex-direction: column;
    }
    .banner-about #mainBlockAboout.common-page-width {
        align-items: center;
    }

    .download-btn {
        flex-grow: 1;
        display: flex;
    }
    .download-btn p {
        flex-grow: 1;
        margin-bottom: 0;
        margin-top: auto;
    }

    .grid-2-columns__item .grid-2-column-img .ideo-single-image{
        width: 160px !important;
    }

    .team-cards-wrapper > .wpb_wrapper {
        gap: var(--gap-tablet);
        grid-template-columns: repeat(2, 1fr);
    }

    .info-tag {
        width: fit-content;
    }
}

@media (min-width: 1200px) {


    .banner-card-title p {
        font-size: 56px;
    }

    .grid-2-title-block {
        margin-bottom: 0;
    }

    .banner-grid-container {
        align-items: center;
    }

    .vc_page_section .banner-grid.vc_column_container, .block-2-grid .container > .row > .vc_column_container:nth-child(2) {
        padding-left: 10px;
    }

    .block-2-grid .container > .row > .vc_column_container:nth-child(1) {
        padding-right: 10px;
    }

    .SwiperSolver .main-text + ul {
        margin-top: 16px;
    }

    .cta-flex-wrapper .wpb_wrapper {
        width: 85% !important;
        margin: 0 auto;
    }

    .banner-about {
        height: 100vh;
    }

    .value-icon .ideo-single-image,  .propels-icon  .ideo-single-image{
        width: 128px !important;
    }

    .row-values__title-column .wpb_wrapper {
        gap: var(--gap-tablet);
    }

    #content .vc_page_section .row .vc_column_container.value-column-text {
        align-items: center;
    }

    .vc_page_section.industries-section .title-subtitle {
        margin-bottom: var(--margin-title-desctop-m);
    }

    .common-img-card .wpb_wrapper {
        padding: 64px 40px;
    }

    .grid-2-img-block {
        margin-bottom: 0;
    }

    .grid-2-column.grid-gap-left > .wpb_wrapper {
        padding-left: 20px;
    }

    .cta-flex-img .ideo-single-image {
        width: 96px !important;
    }

    .location-cards .wpb_wrapper {
        grid-template-columns: repeat(5, 1fr);
    }

    .team-cards-wrapper > .wpb_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .propels-block .wpb_wrapper , .solutions-cards-wrapper > .wpb_wrapper{
        grid-template-columns: repeat(3, 1fr);
    }


    .dark-info-section .b-margin.h2-title h2.title{
        margin-bottom: 40px;
    }

    .icon-with-title .propels-icon {
        margin-bottom: 16px;
    }

    .h2-title.info-block-title .title {
        margin-bottom: 40px;
    }
    .solutions-cards .wpb_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .solutions-card__description {
        flex-grow: 1;
    }

    .solutions-card__description .ideo-box-content {
        display: flex;
        flex-direction: column;
    }

    .solutions-card__description .ideo-box-content  .button-wrap  {
        margin-top: auto;
    }

    .vc_page_section .vc_row.grid-2-columns-row {
        gap: 20px;
    }

    .padding-block:not(.init-block) .grid-2-columns__item {
        width: calc((100% - 20px)/2);
    }

    .grid-2-columns__item .grid-2-column-img .ideo-single-image{
        width: 168px !important;
    }

    .form-info-text:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (min-width: 1440px) {
    .banner-card-title p {
        font-size: 64px;
    }

    .vc_page_section .banner-grid.vc_column_container, .block-2-grid .container > .row > .vc_column_container:nth-child(2) {
        padding-left: 12px;
    }

    .block-2-grid .container > .row > .vc_column_container:nth-child(1) {
        padding-right: 12px;
    }

    .cta-flex-wrapper .wpb_wrapper {
        max-width: 1264px;
    }

    .block-2-grid .h2-subtitle p {
        max-width: 600px;
    }

    .value-icon .ideo-single-image,  .propels-icon  .ideo-single-image {
        width: 136px !important;
    }

    .row-values__title-column .wpb_wrapper {
        gap: var(--gap-desctop-m);
    }

    body .vc_page_section .vc_row.vc_inner.row-values {
        padding-top: var(--gap-desctop-m);
        padding-bottom: var(--gap-desctop-m);
    }

    .vc_page_section.industries-section .title-subtitle {
        margin-bottom: var(--margin-title-desctop-l);
    }

    .common-img-card .wpb_wrapper {
        padding: 72px 48px;
    }

    .nps-img {
        margin-bottom: 24px;
    }

    .grid-with-img .h2-subtitle p:last-child, .grid-with-img .common-link {
        margin-bottom: var(--gap-desctop-l);
    }

    .grid-2-column.grid-gap-left > .wpb_wrapper {
        padding-left: var(--gap-desctop-m);
    }

    .cta-flex-img .ideo-single-image {
        width: 104px !important;
    }

    .location-card .h3-title h3.title {
        margin-bottom: 16px;
    }

    .location-cards .wpb_wrapper,.propels-block .wpb_wrapper {
        gap: var(--gap-desctop-m);
    }

    .dark-info-section .b-margin.h2-title h2.title{
        margin-bottom: 48px;
    }

    .dark-info-section .h2-subtitle p{
        margin-bottom: 32px;
    }

    .h2-title.info-block-title .title {
        margin-bottom: 48px;
    }

    .vc_page_section .vc_row.grid-2-columns-row {
        gap: 24px;
    }

    .padding-block:not(.init-block) .grid-2-columns__item {
        width: calc((100% - 24px)/2);
    }

    .grid-2-columns__item .wpb_wrapper {
        gap:var(--gap-desctop-m);
    }

    .grid-2-columns__item .grid-2-column-img .ideo-single-image{
        width: 176px !important;
    }

    .form-info-text:not(:last-child) {
        margin-bottom: 48px;
    }
}

@media (min-width: 1920px) {
    .banner-card-title p {
        font-size: 72px;
        margin-bottom: 8px;
    }

    .vc_page_section .banner-grid.vc_column_container, .block-2-grid .container > .row > .vc_column_container:nth-child(2) {
        padding-left: 16px;
    }

    .block-2-grid .container > .row > .vc_column_container:nth-child(1) {
        padding-right: 16px;
    }

    .cta-flex-wrapper .wpb_wrapper {
        gap: 24px;
    }

    .value-icon .ideo-single-image,.propels-icon  .ideo-single-image {
        width: 144px !important;
    }

    .row-values__title-column .wpb_wrapper {
        gap: var(--gap-desctop-l);
    }

    body .vc_page_section .vc_row.vc_inner.row-values {
        padding-top: var(--gap-desctop-l);
        padding-bottom: var(--gap-desctop-l);
    }

    .cta-flex-img .ideo-single-image {
        width: 112px !important;
    }

    .vc_page_section.industries-section .title-subtitle {
        margin-bottom: var(--margin-title-desctop-xl);
    }

    .common-img-card .wpb_wrapper {
        padding: 97px 56px;
    }

    .nps-img {
        margin-bottom: 32px;
    }

    .grid-with-img .h2-subtitle p:last-child, .grid-with-img .common-link {
        margin-bottom: var(--margin-title-desctop-m);
    }

    .grid-2-column.grid-gap-left > .wpb_wrapper {
        padding-left: var(--gap-desctop-l);
    }

    .location-icon .ideo-single-image {
        width: 32px !important;
        height: 32px;
    }

    .location-card .h3-title h3.title {
        margin-bottom: 24px;
    }

    .location-cards .wpb_wrapper {
        gap: var(--gap-desctop-l);
    }

    .propels-block .wpb_wrapper {
        gap: var(--gap-desctop-xl);
    }
    .dark-info-section .b-margin.h2-title h2.title{
        margin-bottom: 58px;
    }
    .dark-info-section .h2-subtitle p{
        margin-bottom: 40px;
    }

    .icon-with-title .propels-icon {
        margin-bottom: 24px;
    }

    .icon-with-title .title{
        max-width: 428px;
    }
    .h2-title.info-block-title .title {
        margin-bottom: 56px;
    }

    .numbers-card .banner-card-title {
        margin-bottom: 12px;
    }

    .vc_page_section .vc_row.grid-2-columns-row {
        gap:var(--gap-desctop-l);
    }

    .padding-block:not(.init-block) .grid-2-columns__item {
        width: calc((100% - 32px)/2);
    }

    .grid-2-columns__item .wpb_wrapper {
        gap:var(--gap-desctop-l);
    }

    .grid-2-columns__item .grid-2-column-img .ideo-single-image{
        width: 184px !important;
    }

    .SwiperSolver .main-text + ul {
        margin-top: 24px;
    }

    .form-info-text:not(:last-child) {
        margin-bottom: 56px;
    }
}

@media (max-width: 1199px) {

    .padding-block.banner-about.banner-tablet {
height: max-content !important;
    }
}
