/* body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child{
    padding-top: 120px;
}

body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child .container{
    width: 100%;
    padding: 0;
}
 */

body {
    --colorLight: #FFFFFF;
    --primary: #D0AC58;
}

.mkdf-section-title-holder .mkdf-st-title {
    color: #58468c;
    font-size: 45px;
    line-height: 1.22em;
    font-weight: 300;
}

.mkdf-iwt .mkdf-iwt-title {
    font-size: 24px;
    font-weight: 400;
    color: #58468c;
}

.mkdf-iwt-text {
    font-size: 16px;
    line-height: 28px;
}

body.font-dark h3 {
    font-size: 45px;
    line-height: 1.22em;
    font-weight: 300;
}

.rev_slider_wrapper .fullwidthabanner {
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
    border-radius: 100px;
    overflow: hidden;
}

div.vc_page_section {
    overflow: visible;
}

.custom-ideas-users .mkdf-flip-in {
    opacity: 1;
    transform: translate(100px, 41px);
}

.custom-items .mkdf-iwt .mkdf-iwt-inner.mkdf-iwt-icon-top .mkdf-iwt-content {
    padding-top: 18px;
}

div.custom-idea.vc_page_section {
    padding-bottom: 153px !important;
}

.custom-idea .mkdf-floating-images-holder img {
    position: relative;
    width: 100%;
    height: 100%;
}

.custom-idea .mkdf-floating-images-holder .mkdf-fi-main-image-holder {
    right: -3px;
    max-width: 321px;
    left: auto;
    top: 15px;
    height: max-content;
}

.custom-idea .mkdf-fi-inner {
    display: flex;
}

.custom-idea .mkdf-fi-image-holder.mkdf-fi-aux-image-holder {
    max-width: 314px;
    left: auto;
    top: 42px;
    height: max-content;
}

.custom-quote {
    max-width: 1330px;
    margin: 0 auto !important;
}

.custom-form .mkdf-grid-small-gutter > div {
    padding-bottom: 0px !important;
}

.custom-form .mkdf-grid-small-gutter p {
    line-height: 1;
}

.custom-form input[type='text'],
.custom-form input[type='email'],
.custom-form input[type='password'] {
    margin: 0 0 8px !important;
}

.custom-form .vc_empty_space {
    height: 45px !important;
}

.custom-form .wpcf7-form-control-wrap {
    margin-top: 4px !important;
}

.custom-form .wpcf7-form-control-wrap > span.wpcf7-radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px;
    column-gap: 6px;
}

.custom-form .wpcf7-list-item {
    margin: 0 !important;
}

.custom-form textarea.wpcf7-form-control.wpcf7-textarea {
    margin: 0 !important;
}

.custom-form span.wpcf7-list-item.first.last {
    padding: 0px 32px 3px;
    display: block;
}

.custom-form .mkdf-grid-row.mkdf-grid-small-gutter + div + div {
    text-align: center;
}

.custom-form form > .row p {
    font-size: 16px;
    line-height: 28px;
}

#header-navbar nav.navbar-standard .navbar-header a.navbar-brand {
    display: flex;
    height: auto;
}

div#header-navbar nav.navbar-standard > div {
    padding: 16px 0;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .custom-slider .container {
        width: 100%;
        padding-right: 3% !important;
        padding-left: 3% !important;
    }

    .vc_page_section[data-id='654e42bfa7d15'] .container,
    .custom-slider .container {
        width: 1130px;
    }

    .custom-slider .container .wpb_wrapper {
        padding: 0 9px;
    }

    .custom-ideas-users .container {
        width: 1100px;
    }

    .custom-ideas-users .wpb_column:first-child .column-text {
        padding-left: 115px;
    }

    .custom-ideas-users .mkdf-flip-in {
        transform: translate(103px, 40px);
    }

    .custom-items .container {
        width: 1130px;
    }

    .custom-idea .container {
        width: 1122px;
    }

    .custom-items .mkdf-iwt .mkdf-iwt-inner.mkdf-iwt-icon-top .mkdf-iwt-content {
        padding-top: 22px;
    }

    .custom-idea .mkdf-floating-images-holder .mkdf-fi-main-image-holder {
        right: -4px;
        max-width: 267px;
        top: -28px;
    }

    .custom-idea .mkdf-fi-image-holder.mkdf-fi-aux-image-holder {
        max-width: 264px;
        left: -4px;
        top: 21px;
    }

    div.custom-idea.vc_page_section {
        padding-bottom: 66px !important;
    }

    .custom-quote {
        max-width: 985px;
    }

    .custom-quote .container {
        width: 100%;
    }

    .custom-idea .mkdf-eh-item-content {
        padding-left: 0 !important;
    }

    .custom-looking .container,
    .custom-group-items .container,
    .custom-filter-video .container {
        width: 1125px;
    }

    .custom-single-image .mkdf-flip-in {
        opacity: 1;
        transform: translate(99px, 8px);
        width: 95%;
    }

    .custom-form .mkdf-eh-item-content.mkdf-eh-custom-2719 {
        padding: 0 12%;
    }

    .custom-form .wpcf7-form-control-wrap > span.wpcf7-radio {
        column-gap: 18px;
        row-gap: 7px;
    }

    .custom-form span.wpcf7-list-item.first.last {
        font-size: 16px;
        padding: 2px 10px 2px;
        line-height: 28px;
    }
}

@media (max-width: 1200px) {
    .custom-idea .mkdf-fi-inner {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .custom-idea .mkdf-floating-images-holder .mkdf-fi-image-holder,
    .mkdf-floating-images-holder .mkdf-fi-image-overlay {
        position: relative;
    }

    .custom-idea .mkdf-floating-images-holder .mkdf-fi-main-image-holder {
        right: -39px;
        max-width: 53.5%;
        left: auto;
        top: 26px;
        height: max-content;
    }

    .custom-idea .mkdf-fi-image-holder.mkdf-fi-aux-image-holder {
        margin-top: auto;
        max-width: 54%;
        position: absolute;
        left: 19px;
        bottom: -54px;
    }

    .custom-idea {
        margin-top: -100px !important;
    }

    div.custom-idea.vc_page_section {
        padding-bottom: 64px !important;
    }

    .custom-quote,
    .custom-looking .container,
    .custom-group-items .container,
    .custom-filter-video .container {
        max-width: 980px;
    }

    .custom-looking .mkdf-eh-item-content {
        padding: 0 !important;
    }

    .custom-single-image .mkdf-flip-in {
        opacity: 1;
        transform: translate(0px, 45px);
    }

    .custom-form .mkdf-eh-item-content {
        padding: 0 10% !important;
    }
}

@media (min-width: 1024px) {
    .navbar-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #header-navbar nav.navbar-standard .navbar-header a.navbar-brand {
        max-height: 105px;
        display: flex;
        height: auto;
    }

    div#header-navbar nav.navbar-standard > div {
        height: auto;
        padding: 24px 0;
    }

    div#header-navbar nav.navbar-standard {
        height: auto;
    }

    #header.colored-light #header-navbar > .navbar-standard:after {
        content: none;
    }

    #header.colored-light #header-navbar > nav.navbar-standard {
        background-color: transparent;
    }

    div#header-navbar nav.navbar-sticky {
        height: 70px;
    }

    div#header-navbar nav.navbar-sticky .navbar-header .navbar-brand {
        height: 100%;
    }

    div#header-navbar nav.navbar-sticky > div {
        max-width: 100%;
    }

    #header-navbar nav.navbar-standard .navbar-header .navbar-brand img {
        height: auto !important;
        display: flex;
        object-fit: contain;
    }

    #header-navbar nav.navbar-sticky .navbar-header .navbar-brand img {
        height: 100%;
        width: auto;
    }
}

@media (min-width: 1400px) {
    .custom-slider .container {
        width: 100%;
        padding-right: 3% !important;
        padding-left: 3% !important;
    }

    .custom-looking {
        padding-top: 30px !important;
    }

    .vc_page_section[data-id='654e42bfa7d15'] .container,
    .custom-items .container,
    .custom-idea .container,
    .custom-slider .container,
    .custom-looking .container,
    .custom-group-items .container,
    .custom-filter-video .container,
    .custom-form .container {
        width: 1330px;
    }

    .custom-single-image .mkdf-flip-in {
        opacity: 1;
        transform: translate(106px, 38px);
    }

    #header-navbar nav.navbar-standard .navbar-header a.navbar-brand {
        max-height: 132px;
    }
}

@media (max-width: 1024px) {
    .custom-looking-under .mkdf-eh-item-content {
        padding: 0 !important;
    }

    .custom-looking .container,
    .custom-group-items .container {
        width: 100%;
        max-width: 798px;
    }

    .custom-group-items .mkdf-iwt-title-text {
        font-size: 22px;
    }

    .custom-filter-video-under .mkdf-eh-item-content {
        padding: 0 !important;
    }

    .custom-form .mkdf-eh-item-content {
        padding: 0 12% !important;
    }
}

@media (max-width: 992px) {
    .custom-idea .mkdf-floating-images-holder .mkdf-fi-main-image-holder {
        right: 29px;
        max-width: 46%;
        top: 14px;
    }

    .custom-idea .mkdf-fi-image-holder.mkdf-fi-aux-image-holder {
        max-width: 47%;
        left: 56px;
        bottom: -79px;
    }
}

@media only screen and (max-width: 767px) {
    .mkdf-section-title-holder .mkdf-st-title,
    body.font-dark h3 {
        font-size: 28px;
    }

    .custom-ideas-users .mkdf-flip-in {
        transform: translate(0, -9px);
    }

    div.custom-ideas-users.vc_page_section {
        padding-bottom: 61px !important;
    }

    .custom-idea .mkdf-floating-images-holder .mkdf-fi-main-image-holder {
        right: 21px;
        max-width: 45%;
        top: 14px;
    }

    .custom-idea .mkdf-fi-image-holder.mkdf-fi-aux-image-holder {
        max-width: 46%;
        left: 19px;
        bottom: auto;
        top: 33px;
    }

    .custom-form .wpcf7-form-control-wrap > span.wpcf7-radio {
        row-gap: 4px;
    }
}

#header-navbar nav.navbar-standard-width-custom, #header-navbar nav.navbar-standard-width-full .page-width, .entry-content .container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}


@media screen and (min-width: 1280px) {
    #header-navbar nav.navbar-standard-width-custom, #header-navbar nav.navbar-standard-width-full .page-width, .entry-content .container {
        padding-left: 56px;
        padding-right: 56px;
    }
}

.menu-item-has-children {
    margin-right: 24px;
}

@media (min-width: 992px) {
    .menu-item-has-children::after {
        width: 24px;
        height: 24px;
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9.06519L11.2929 14.3581C11.6262 14.6914 11.7929 14.8581 12 14.8581C12.2071 14.8581 12.3738 14.6914 12.7071 14.3581L18 9.06519" stroke="%23111324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -4px;
        transform: translateY(-50%);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in-out;
    }

    .menu-item-has-children:hover::after {
        transform: translateY(-50%) rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }


    #header.transparent-light #header-navbar.hover-style3 .navbar-menu > li::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 0;
        height: 1px;
        background: #111324;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }


    #header.transparent-light #header-navbar.hover-style3 .navbar-menu > li.active::before, #header.transparent-light #header-navbar.hover-style3 .navbar-menu > li:hover::before {
        width: calc(100% - 48px);
        transition: all .3s ease-in-out;
    }
}

#header.transparent-light #header-navbar > .navbar-standard .navbar-nav > li > a, #header.transparent-light #header-navbar > .navbar-sticky .navbar-nav > li > a {
    font-size: 18px;
    color: #111324;
    text-transform: capitalize;
    font-weight: 400;
}

@media (min-width: 992px) {
    #header.transparent-light #header-navbar > .navbar-standard .navbar-nav > li > a, #header.transparent-light #header-navbar > .navbar-sticky .navbar-nav > li > a {
        color: #111324 !important;
    }
}

@media (min-width: 992px) {
    header #header-navbar nav.navbar-standard > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 100%;
    }
}

ul#menu-appmatrix {
    margin-top: 0 !important;
}

body #header-navbar.mobile .navbar-header .navbar-toggle > .animated-icon {
    background-color: transparent !important;
    width: 30px;
}


body #header-navbar.mobile .navbar-header .navbar-toggle > .animated-icon:before, body #header-navbar.mobile .navbar-header .navbar-toggle > .animated-icon:after {
    position: absolute;
    transition-duration: 0.5s;
    width: 30px;
    height: 2px;
    top: 15px;
    left: 0;
    background-color: #111324 !important;
}

body #header-navbar.mobile .navbar-header .navbar-toggle > .animated-icon:before {
    content: "";
    left: 0;
    top: 10px;
}

body #header-navbar.mobile .navbar-header .navbar-toggle > .animated-icon:after {
    top: 16px;
}

body #header-navbar.mobile .navbar-header .navbar-toggle:not(.collapsed) .animated-icon:before {
rotateZ(45 deg) scaleX(1);
    transform: translate(1px, 0px) rotateZ(45deg) scaleX(1);
}

body #header-navbar.mobile .navbar-header button {
    margin: 0 !important;
    padding: 0 !important;
}

header #header-navbar nav.navbar-standard {
    position: relative;
    height: 98px;
    border: none !important;
}

@media (min-width: 992px) {
    header #header-navbar nav.navbar-standard {
        height: 180px;
        padding: 0;
    }
}


body header #header-navbar.mobile nav > div {
    height: 100% !important;
}

body header #header-navbar.mobile .navbar-toggle > .navbar-toggle-placeholder {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 480px) {
    header #header-navbar nav.navbar-standard .navbar-header .navbar-brand img {
        height: 66px;
    }
}

@media (max-width: 991px) {
    div#header-navbar-collapse {
        max-height: 100%;
        min-height: 100vh;
        width: calc(100% + 32px);
        left: -16px;
        padding-top: 24px;
    }
}

@media (max-width: 991px) {
    body header #header-navbar.mobile.skin-light .navbar-menu li:hover > a,
    body header #header-navbar.mobile.skin-light .navbar-menu li:focus > a,
    body header #header-navbar.mobile.skin-light .navbar-menu li.open > a,
    body header #header-navbar.mobile.skin-light .navbar-menu li.active > a,
    body header #header-navbar.mobile.skin-light .navbar-menu li > a {
        padding: 16px 21px !important;
        background-color: transparent !important;
        color: #111324 !important;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 991px) {
    body header #header-navbar.mobile.skin-light .navbar-menu > li {
        border-bottom: none;
    }
}

@media (max-width: 991px) {
    body header #header-navbar ul.navbar-menu li.dropdown.open > a:before {
        content: "" !important;
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9.06519L11.2929 14.3581C11.6262 14.6914 11.7929 14.8581 12 14.8581C12.2071 14.8581 12.3738 14.6914 12.7071 14.3581L18 9.06519" stroke="%23111324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        order: 2;
        position: static;
        transform: translateX(-50%) rotate(180deg) !important;
        transition: transform 0.3s ease-in-out;
    }
}

@media (max-width: 991px) {
    body header #header-navbar ul.navbar-menu li.dropdown > a:before {
        position: static;
        content: "" !important;
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9.06519L11.2929 14.3581C11.6262 14.6914 11.7929 14.8581 12 14.8581C12.2071 14.8581 12.3738 14.6914 12.7071 14.3581L18 9.06519" stroke="%23111324" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        order: 2;
        width: 24px;
        height: 24px;
        transform: none !important;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in-out;
    }
}

.tag-hero {
    p {
        text-transform: uppercase;
        border: 1px solid var(--colorLight);
        padding: 6px 12px;
        letter-spacing: clamp(0.72px, 1vw + 1vh, 0.84px);
        font-size: clamp(12px, 1vw + 1vh, 14px);
        font-weight: 500;
        width: max-content;
        border-radius: 137px;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;

        &::before {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 8L18.8398 9.85008C19.6133 10.6279 20 11.0168 20 11.5C20 11.9832 19.6133 12.3721 18.8398 13.1499L17 15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 8L5.16019 9.85008C4.38673 10.6279 4 11.0168 4 11.5C4 11.9832 4.38673 12.3721 5.16019 13.1499L7 15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.5 4L9.5 20" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
        }
    }
}

.ellipse-hero-1 {
    border-radius: 398px;
    background: rgba(208, 172, 88, 0.40);
    filter: blur(159.10000610351562px);
    position: absolute !important;
    top: -48px;
    left: -72px;
    width: 398px;
    height: 398px;
}

.hero-left-column-dark {
    overflow: hidden;
}

h1.title {
    font-size: clamp(40px, 3vw + 3vh, 88px) !important;
    font-weight: 700;
    letter-spacing: clamp(-1.6px, 3vw + 3vh, -3.52px);
}

.primary-text {
    color: var(--primary);
}

.vc_page_section .row .vc_column_container, .vc_page_section .vc_column_container {
    padding: 0 !important;
}


.hero-wrapper {
    .vc_inner {

    }
}



