@import "config/config.css";
@import "hero-block.css";
@import "brands-section.css";
@import "tech-animation.css";
@import "swiper-tech.css";
@import "sticky-section.css";
@import "map-block.css";
@import "review-block.css";
@import "cta-main.css";
@import "header.css";
@import "mobile-menu.css";
@import "footer.css";
@import "vertical-tabs.css";
@import "about.css";
@import "services.css";

body.open-menu {
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: var(--colorLight) !important;
}

body.open-menu #header-navbar .modern-bars-content {
    background-color: var(--colorLight);
    transition: all 0.5s;
}


#header-navbar ul.navbar-menu > li > a {
    font-size: 18px;
    color: var(--mainColor);
    text-transform: capitalize;
    font-weight: 400;
    font-family: var(--familyRegular);
    letter-spacing: 0;
}

.vc_column_container, .vc_column_container {
    padding: 0;
}

.hero-common-text:not(.full-text) {
    max-width: 648px;
}


.page .row {
    margin-left: 0;
    margin-right: 0;
}

.background-page.skin-light, body.skin-light #content.background-type-color, body.skin-dark #content.background-type-color {
    background-color: var(--colorLight);
}


body.page.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.single-portfolio.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.single-team.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.single-portfolio.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.single-team.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.page.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.single-portfolio.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.single-team.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
body.single-portfolio.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child {
    padding-top: 96px !important;
    /*//remove-important*/
    padding-bottom: 96px;
}

.map-section .section-title .main-text p {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    body.page.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content.portfolio .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child {
        padding-top: 157px !important;
        /*//remove-important*/
        padding-bottom: 157px;
    }
}

@media (min-width: 1200px) {
    body.page.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content.portfolio .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child {
        padding-top: 272px !important;
        /*//remove-important*/
        padding-bottom: 112px;
    }
}

@media (min-width: 1440px) {
    body.page.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content.portfolio .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child {
        padding-top: 200px !important;
        /*//remove-important*/
        padding-bottom: 120px;
    }
}

@media (min-width: 1920px) {
    body.page.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.standard-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.single-team.header-on.sticky-slide-hide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child,
    body.page.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content.portfolio .vc_page_section:first-child,
    body.single-portfolio.header-on.sticky-slide-header.pagetitle-off.slider-off.topbar-off.vc-on.sidebar-off #content .vc_page_section:first-child {
        padding-top: 260px !important;
        /*//remove-important*/
        padding-bottom: 180px;
    }
}

.map-section .ideo-wow-title.style-text h2.title {
    margin-bottom: 16px;
}

.tech-section .ideo-wow-title.style-text h2.title,
.process-section .ideo-wow-title.style-text h2.title,
.map-section .section-title .main-text p,
.section-title-h2.ideo-wow-title.style-text:not(.info-block-title) .title {
    margin-bottom: 32px;
}

.map-section .section-title .main-text p {
    max-width: 648px;
    margin: 0 auto 40px auto;
}

@media (min-width: 1200px) {
    .tech-section .ideo-wow-title.style-text h2.title,
    .process-section .ideo-wow-title.style-text h2.title,
    .map-section .section-title .main-text p {
        margin-bottom: 40px;
    }
}

@media (min-width: 1440px) {
    .tech-section .ideo-wow-title.style-text h2.title,
    .process-section .ideo-wow-title.style-text h2.title,
    .map-section .section-title .main-text p {
        margin-bottom: 48px;
    }
}

@media (min-width: 1920px) {
    .tech-section .ideo-wow-title.style-text h2.title,
    .process-section .ideo-wow-title.style-text h2.title,
    .map-section .section-title .main-text p {
        margin-bottom: 56px;
    }
}

.primary-main-btn, .trusted-cards-block .ideo-box, .common-card:not(.card-strieght),
.process-left-block, .map-card,
.colored-light.container-tabs .nav-tabs > li,
.tab-card-with-img, .common-card .wp-swiper__slide-content,
.row-values, .tag-link, .common-img-card, .grid-2-img-block,
#aboutUsContactForm .form-btn-flex input.wpcf7-form-control.wpcf7-submit,
.hire-accordion-section .colored-light.accordion .panel-default > .panel-heading .panel-title a,
.solutions-card .wpb_wrapper {
    border-radius: 4px;
}

.primary-main-btn, #aboutUsContactForm .form-btn-flex input.wpcf7-form-control.wpcf7-submit {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    background-color: var(--primary);
    transition: background-color .3s ease-out;
    height: 48px;
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .primary-main-btn, #aboutUsContactForm .form-btn-flex input.wpcf7-form-control.wpcf7-submit {
        width: max-content;
        padding: 16px 24px;
    }
}

@media (min-width: 1200px) {
    .primary-main-btn, #aboutUsContactForm .form-btn-flex input.wpcf7-form-control.wpcf7-submit {
        padding: 12px 24px;
    }
}

@media (min-width: 1920px) {
    .primary-main-btn, #aboutUsContactForm .form-btn-flex input.wpcf7-form-control.wpcf7-submit {
        padding: 12px 32px;
        gap: 12px;
        height: 56px;
    }
}

.primary-main-btn span, #aboutUsContactForm .form-btn-flex input.wpcf7-form-control.wpcf7-submit {
    font-size: 14px;
    line-height: 1.12;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-header);
}

@media (min-width: 1920px) {
    .primary-main-btn span, #aboutUsContactForm .form-btn-flex input.wpcf7-form-control.wpcf7-submit {
        font-size: 16px;
    }
}

.primary-main-btn.button:not(.cta-flex-btn)::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;utf8,<svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.5 12H19.5' stroke='%231D1E22' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M12.5 5L19.5 12L12.5 19' stroke='%231D1E22' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

@media (min-width: 1920px) {
    .primary-main-btn.button::after {
        width: 32px;
        height: 32px;
    }
}

.primary-main-btn:hover, #aboutUsContactForm .form-btn-flex input.wpcf7-form-control.wpcf7-submit:hover {
    background-color: var(--brand---primary);
    transition: all .3s ease-out;
}

.h2-tag p, .h2-tag.transparent-light.column-text-styled, .brands-section .h2-title h2 {
    margin-bottom: 24px;
    margin-top: 0;
}

@media (min-width: 1440px) {
    .h2-tag p, .h2-tag.transparent-light.column-text-styled, .brands-section .h2-title h2 {
        margin-bottom: 32px;
    }
}

@media (min-width: 1920px) {
    .h2-tag p, .h2-tag.transparent-light.column-text-styled, .brands-section .h2-title h2 {
        margin-bottom: 40px;
    }
}

.h2-tag.transparent-light.column-text-styled {
    max-width: max-content;
    border: none;
    padding: 0;
    border-bottom: none;
}

.h2-tag p {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.84px;
    color: var(--brand---primary);
}

@media (min-width: 1920px) {
    .h2-tag p {
        font-size: 16px;
    }
}

/*remove*/
.transparent-dark.ideo-wow-title:not(.light-text) .title {
    color: var(--text-header);
}

.transparent-light.ideo-wow-title .title, .transparent-dark.ideo-wow-title.light-text .title {
    color: var(--colorLight);
}

.h2-title h2.title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--text-header);
}

@media (min-width: 768px) {
    .h2-title h2.title {
        font-size: 36px;
    }
}

@media (min-width: 1200px) {
    .h2-title h2.title {
        font-size: 40px;
    }
}

@media (min-width: 1440px) {
    .h2-title h2.title {
        font-size: 48px;
    }
}

@media (min-width: 1920px) {
    .h2-title h2.title {
        font-size: 56px;
    }
}

@media (min-width: 768px) {
    .common-link {
        margin-bottom: 0;
    }
}

.common-link a {
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.common-link a svg {
    flex-shrink: 0;
}

@media (min-width: 1920px) {
    .common-link a {
        gap: 12px;
    }
}

.common-link a span, .common-link a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

@media (min-width: 1920px) {
    .common-link a span, .common-link a {
        font-size: 18px;
    }
}

.common-link a::before, .wpcf7-list-item-label a::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    background-color: var(--brand---primary);
    transition: transform 0.4s, transform-origin 0s;
    transform: scaleX(0);
    transform-origin: right center;
    height: 1px;
}

@media (min-width: 1920px) {
    .common-link a svg {
        width: 32px;
        height: 32px;
    }
}

.common-link a:hover {
    cursor: pointer;
}

.common-link a:hover::before, .wpcf7-list-item-label a:hover::before {
    transform: scaleX(1);
    transform-origin: left center;
}

.common-link a:hover svg path {
    stroke: var(--brand---primary);
    transition: all .4s ease-out;
}

.column-text-styled.colored-light.column-text-styled.tab-content-card:not(.common-card) {
    padding: 0;
}

.column-text-styled.colored-light.column-text-styled {
    border: none;
}

.title-subtitle .ideo-box-content {
    display: grid;
}

@media (min-width: 1200px) {
    .title-subtitle .ideo-box-content {
        grid-template-columns: 33% auto;
        gap: 20px;
    }
}

@media (min-width: 1440px) {
    .title-subtitle .ideo-box-content {
        gap: 24px;
    }
}

@media (min-width: 1920px) {
    .title-subtitle .ideo-box-content {
        gap: 32px;
    }
}

.title-subtitle .ideo-box-content p {
    margin: 0;
}

.title-subtitle .h2-subtitle p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--secondDarkColor);
    margin-top: 0;
}

@media (min-width: 1920px) {
    .title-subtitle .h2-subtitle p {
        font-size: 18px;
    }
}

.title-subtitle .h2-subtitle {
    display: contents;
}

.title-subtitle .h2-title h2.title {
    margin-bottom: 16px;
}

@media (min-width: 1200px) {
    .title-subtitle:not(.grid-2-title-block) .h2-title h2.title {
        margin-bottom: 0;
    }
}

/*.transparent-dark.column-text {*/
/*    width: max-content;*/
/*}*/

.full-block {
    overflow: hidden;

}

.full-block .container {
    max-width: 100%;
}

.common-card.gray-card {
    background-color: var(--mainLightbg);
}

.common-card.white-card {
    background-color: var(--colorLight);
}

.vc_page_section .row .common-card:not(.swiper-slide),
.common-card .wp-swiper__slide-content,
.hire-accordion-section .accordion.medium .panel-default > .panel-heading .panel-title a,
.hire-accordion-section .panel-default > .panel-heading + .panel-collapse > .panel-body, .numbers-card {
    padding: 18px;
}

.sticky-card-title.ideo-wow-title.style-text h3, .common-card h3 {
    color: var(--text-header);
    margin-top: 0;
    margin-bottom: 12px;
}

@media (min-width: 1440px) {
    .sticky-card-title.ideo-wow-title.style-text h3, .common-card h3 {
        margin-bottom: 16px;
    }
}

@media (min-width: 1920px) {
    .sticky-card-title.ideo-wow-title.style-text h3, .common-card h3 {
        margin-bottom: 24px;
    }
}

@media (min-width: 768px) {
    .vc_page_section .vc_row .common-card:not(.swiper-slide),
    .common-card .wp-swiper__slide-content,
    .hire-accordion-section .accordion.medium .panel-default > .panel-heading .panel-title a,
    .hire-accordion-section .panel-default > .panel-heading + .panel-collapse > .panel-body,
    .numbers-card {
        padding: 20px;
    }
}

@media (min-width: 1440px) {
    .vc_page_section .vc_row .common-card:not(.swiper-slide),
    .common-card .wp-swiper__slide-content,
    .hire-accordion-section .accordion.medium .panel-default > .panel-heading .panel-title a,
    .hire-accordion-section .panel-default > .panel-heading + .panel-collapse > .panel-body,
    .numbers-card {
        padding: 24px;
    }
}

@media (min-width: 1920px) {
    .vc_page_section .vc_row .common-card:not(.swiper-slide),
    .common-card .wp-swiper__slide-content,
    .hire-accordion-section .accordion.medium .panel-default > .panel-heading .panel-title a,
    .hire-accordion-section .panel-default > .panel-heading + .panel-collapse > .panel-body,
    .numbers-card {
        padding: 32px;
    }
}

.sticky-card-title.ideo-wow-title.style-text + .main-text p, .common-card p.main-text {
    color: var(--secondDarkColor);
    margin: 0;
}

.process-cards .wpb_wrapper, .services-vertical-tabs .tab-content .vc_tta-panel-body {
    display: grid;
    gap: 12px;
}

@media (min-width: 768px) {
    .process-cards .wpb_wrapper, .services-vertical-tabs .tab-content .vc_tta-panel-body {
        gap: 20px;
    }
}


@media (min-width: 1440px) {
    .process-cards .wpb_wrapper, .services-vertical-tabs .tab-content .vc_tta-panel-body {
        gap: 24px;
    }
}

@media (min-width: 1920px) {
    .process-cards .wpb_wrapper, .services-vertical-tabs .tab-content .vc_tta-panel-body {
        gap: 32px;
    }
}

.title-with-link .ideo-box-content {
    align-items: flex-end;
    justify-content: space-between;
}

.wp-block-safe-svg-svg-icon {
    display: flex;
}

@media (min-width: 1200px) {
    .reviews-slider .swiper-pagination {
        display: none;
    }
}