.tech-cards .h3-title {
    margin-bottom: 16px;
}

.tech-cards .info-tags .ideo-box-content {
    gap: 2px;
}

.tech-cards .info-tag {
    width: max-content;
}

.tech-cards .info-tag p, .block-with-tags .info-tags .info-tag p{
    display: flex;
    align-items: center;
    gap: 6px;
}

.solutions-cards .ideo-single-image {
    width: 100% !important;
}

.industries-accordion .accordion .panel-default > .panel-heading .panel-title a {
    background-color: var(--colorLight);
    color: var(--text-header);
}

.industries-accordion.second-bg-accordion .accordion .panel-default > .panel-heading .panel-title a {
    background-color: var(--mainLightbg);
}

.industries-accordion .accordion .panel-default > .panel-heading .panel-title a:not(.collapsed) {
    border-bottom: 1px solid var(--border);
    transition: border .3s ease-out;
}

.industries-accordion .accordion .panel-body,
.industries-accordion .accordion .panel-default >  .panel-heading .panel-title a,
.hire-accordion-section .accordion .panel-default >  .panel-heading .panel-title a{
    padding: 18px 41px 18px 18px;
}

.industries-accordion .accordion .panel-body .accordion-inner p:first-child {
    margin-top: 0;
}

.industries-accordion .accordion .panel-body .accordion-inner ul {
    /*margin-top: 24px;*/
    padding-left: 8px;
}

.industries-accordion .accordion .panel {
    margin-bottom: 8px;
}

.row-values .subheader-text p {
    color: var(--secondDarkColor);
}

.accordion .panel-default > .panel-heading .panel-title a {
    display: block;
    outline: none;
    text-decoration: none;
    position: relative;
    border-radius: 4px;
}

.accordion .panel-default > .panel-heading {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
}

.accordion .panel-default > .panel-heading .panel-title a:after {
    position: absolute;
    top: 50%;
}

.accordion .panel-default {
    border: none;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
}

.accordion.panel-group .panel-heading + .panel-collapse .panel-body {
    border: none;
}

.colored-light.accordion.panel-group .panel {
    position: relative;
}

.colored-light.accordion.panel-group .panel:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    border-bottom: solid 1px rgba(135, 142, 157, 0.2);
}

@media (min-width: 768px) {
    .industries-accordion .accordion .panel-body,  .industries-accordion .accordion .panel-default >  .panel-heading .panel-title a {
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    .tech-cards .info-tags .ideo-box-content {
        gap: 4px;
    }

    .industries-accordion .wpb_wrapper {
        padding-left: 20px;
    }

    .table-title-block.grid-2-title-block {
        margin-bottom: 24px;
    }
}

@media (min-width: 1440px) {
    .tech-cards .info-tags .ideo-box-content {
        gap: 6px;
    }

    .industries-accordion .wpb_wrapper {
        padding-left: 24px;
    }

    .industries-accordion .accordion .panel-body, .industries-accordion .accordion .panel-default > .panel-heading .panel-title a{
        padding: 24px;
    }

    .table-title-block.grid-2-title-block {
        margin-bottom: 32px;
    }
}

@media (min-width: 1920px) {
    .tech-cards .h3-title {
        margin-bottom: 24px;
    }

    .tech-cards .info-tag p, .block-with-tags .info-tags .info-tag  {
        gap: 8px;
    }

    .tech-cards .info-tag p img {
        width: 32px;
    }

    .industries-accordion .wpb_wrapper {
        padding-left: 32px;
    }

    .industries-accordion .accordion .panel-body, .industries-accordion .accordion .panel-default > .panel-heading .panel-title a {
        padding: 32px;
    }

    .table-title-block.grid-2-title-block {
        margin-bottom: 56px;
    }

    .tech-cards .info-tags .ideo-box-content {
        gap: 8px;
    }
}