.colored-light.column-text-styled, .colored-light.column-text-styled *:not(a) {
    color: initial;
}

.map-img {
    display: none;
}

@media (min-width: 1200px) {
    .map-img {
        display: block;
    }
}

.column-text-styled.colored-light.column-text-styled.map-card {
    padding: 18px 14px;
    border-left: 4px solid #D2AB51;
}


@media (min-width: 1200px) {
    .column-text-styled.colored-light.column-text-styled.map-card {
        padding: 16px 12px;
        position: absolute;
        width: 22%;
        max-width: 286px;
    }
}

@media (min-width: 1920px) {
    .column-text-styled.colored-light.column-text-styled.map-card {
        padding: 24px 20px;
    }
}

@media (min-width: 1200px) {
    .column-text-styled.colored-light.column-text-styled.map-card.map-card-1 {
        left: 0;
        top: 44%;
    }
    .column-text-styled.colored-light.column-text-styled.map-card.map-card-2 {
        top: 44%;
        transform: translate(50%, calc(100% + var(--map-scpace-tabl)));

    }

    .column-text-styled.colored-light.column-text-styled.map-card.map-card-3 {
        top: 35%;
        transform: translate(-50%, calc(-100% - var(--map-scpace-tabl)));
        right: 0;
    }
    .column-text-styled.colored-light.column-text-styled.map-card.map-card-4 {
        right: 0;
        top: 35%;
    }
    .column-text-styled.colored-light.column-text-styled.map-card.map-card-5 {
        top: 35%;
        transform: translate(-50%, calc(100% + var(--map-scpace-tabl)));
        right: 0;
    }
}

@media (min-width: 1920px) {
    .column-text-styled.colored-light.column-text-styled.map-card.map-card-2 {
        top: 44%;
        transform: translate(50%, calc(100% + var(--map-scpace-desc)));

    }

    .column-text-styled.colored-light.column-text-styled.map-card.map-card-3 {
        top: 35%;
        transform: translate(-50%, calc(-100% - var(--map-scpace-desc)));
        right: 0;
    }
    .column-text-styled.colored-light.column-text-styled.map-card.map-card-5 {
        transform: translate(-50%, calc(100% + var(--map-scpace-desc)));
    }
}

p.big-number {
    margin-top: 0;
    margin-bottom: 4px;
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-header)
}

@media (min-width: 768px) {
    p.big-number {
        font-size: 32px;
    }
}

@media (min-width: 1920px) {
    p.big-number {
        font-size: 48px;
    }
}

.map-description {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--secondDarkColor);
}

@media (min-width: 1200px) {
    .map-description {
        font-size: 12px;
    }
}

@media (min-width: 1440px) {
    .map-description {
        font-size: 14px;
    }
}

@media (min-width: 1920px) {
    .map-description {
        font-size: 18px;
    }
}

.map-content .ideo-box-content {
    display: grid;
    gap: 12px;
}

@media (min-width: 768px) {
    .map-content .ideo-box-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1200px) {
    .map-content .ideo-box-content {
        position: relative;
        display: block;
    }
}


