.author-block, .author-block .ideo-box-content {
    gap: 12px;
    align-items: center !important;
}
.author-block .ideo-box-content {
    display: flex;
}

@media (min-width: 768px) {
    .author-block, .author-block .ideo-box-content  {
        gap: 16px;
    }
}


.author-block ,.common-card p.review-info.main-text, .author-block .ideo-box-content, .review-info.column-text p {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .author-block ,.common-card p.review-info.main-text,  .author-block .ideo-box-content, .review-info.column-text p {
        margin-bottom: 12px;
    }
}

@media (min-width: 1440px) {
    .author-block ,.common-card p.review-info.main-text,  .author-block .ideo-box-content, .review-info.column-text p {
        margin-bottom: 16px;
    }
}

@media (min-width: 1920px) {
    .author-block, .common-card p.review-info.main-text, .author-block .ideo-box-content, .review-info.column-text p  {
        margin-bottom: 24px;
    }
}
.author-block .ideo-box-content .column-text-styled {
    padding: 0;
}

.author-block.wp-block-columns:not(.is-not-stacked-on-mobile) > .author-image.wp-block-column {
    flex-basis: content;
    flex-grow: 0;
}

.author-block  .author-image img , .author-block .ideo-box-content .author-image .ideo-single-image{
    width: 48px !important;
    height: 48px !important;
}

@media (min-width: 768px) {
    .author-block  .author-image img, .author-block .ideo-box-content .author-image .ideo-single-image  {
        width: 56px !important;
        height: 56px !important;
    }
}

@media (min-width: 1440px) {
    .author-block  .author-image img, .author-block .ideo-box-content .author-image .ideo-single-image {
        width: 64px !important;
        height: 64px !important;
    }
}

@media (min-width: 1920px) {
    .author-block  .author-image img, .author-block .ideo-box-content .author-image .ideo-single-image{
        width: 72px !important;
        height: 72px !important;
    }
}

.author-block .author-info p:first-child, .author-block .ideo-box-content p:first-child {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 500;
    color: var(--text-header);
}

.author-block .author-info p:nth-child(2),.author-block .ideo-box-content p:nth-child(2) {
    margin: 0;
    color: var(--grayColor);
}

.review-info p {
    color: var(--secondDarkColor);
    margin-bottom: 10px;
}

.common-card h3.review-text, .h3-title.column-text p{
    color: var(--text-header);
    margin-bottom: 20px;
    margin-top: 0;
}

@media (min-width: 768px) {
    .common-card h3.review-text, .h3-title.column-text p{
        margin-bottom: 24px;
    }
}

@media (min-width: 1440px) {
    .common-card h3.review-text, .h3-title.column-text p{
        margin-bottom: 32px;
    }
}

@media (min-width: 1920px) {
    .common-card h3.review-text, .h3-title.column-text p{
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    .vc_page_section .grid-3-desc {
        flex-direction: row;
    }
    .grid-3-desc .common-card {
        width: calc((100% - 20px) / 2)
    }
}

@media (min-width: 992px) {
    .grid-3-desc {
        justify-content: space-between;
    }

    .grid-3-desc .common-card {
        width: calc((100% - 40px) / 3)
    }
}

@media (min-width: 1440px) {
    .grid-3-desc .common-card {
        width: calc((100% - 48px) / 3)
    }
}

@media (min-width: 1920px) {
    .grid-3-desc .common-card {
        width: calc((100% - 64px) / 3)
    }
}

.short-link {
    margin-top: auto;
}

.short-link a {
    max-width: calc(100% + 24px);
    width: calc(100% + 24px);
    pointer-events: none;
}
@media (min-width: 1920px) {
    .short-link  a {
        max-width: calc(100% + 32px);
        width: calc(100% + 32px);
    }
}
