.quotation-block .subheader-text p {
    color: var(--secondDarkColor);
}

.centred-h2 h2 {
    max-width: 1098px;
    margin-right: 0;
    margin-left: 0;
}

.solutions-card .wpb_wrapper {
    overflow: hidden;
}

.solutions-card:not(.margin-s) .ideo-wow-title.style-text .title {
    margin-bottom: 12px;
}

.solutions-card.margin-s .ideo-wow-title.style-text .title {
    margin-bottom: 8px;
}

/*.solutions-card:not(.margin-s):not(.only-text) .sub-text p {*/
/*    margin-bottom: 24px;*/
/*}*/

.solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap{
    margin-top: 24px;
}

.solutions-card.margin-s .sub-text p {
    margin-bottom: 16px;
}

.solutions-cards-img .ideo-single-image, .solutions-cards-img .ideo-single-image img {
    width: 100% !important;
}

.block-with-tags .info-tags {
    margin-top: 40px;
}

.block-2-grid-team .container > .row {
    display: grid;
    gap: 16px;
    grid-template-columns: 100%;
}

.block-2-grid-team .container > .row .vc_column_container {
    width: 100%;
}

.teamSwiper .swiper-pagination{
    display: block;
}

.teamSwiper .wp_swiper__navigation {
    display: block;
}

.block-with-tags .common-link {
    margin-top: 24px;
}

@media (min-width: 768px) {

    .block-with-tags .common-link {
        margin-top: 32px;
    }

    .solutions-card.margin-s , .solutions-card.margin-s > .wpb_wrapper{
        height: 100%;
    }

    .solutions-card.margin-s > .wpb_wrapper{
        display: flex;
        flex-direction: column;
    }

    .solutions-card.margin-s > .wpb_wrapper .solutions-card__description{
        flex-grow: 1;
    }
    .solutions-card.margin-s .ideo-wow-title.style-text .title {
        margin-bottom: 12px;
    }

    .block-2-grid-team .container > .row {
        grid-template-columns: auto 50%;
        gap: 20px;
    }
}

@media (min-width: 1200px) {
    .value-column-text .wpb_wrapper {
        padding-left: 32px;
    }

    .block-2-grid-team .container > .row {
        grid-template-columns: auto 28%;
    }

    .block-2-grid-team .container > .row .grid-2-title-block.block-with-tags .wpb_wrapper{
        max-width: 816px;
    }

    .block-2-grid-team .container > .row .grid-2-title-block.block-with-tags .h2-subtitle p {
        max-width: 690px;
    }

    .solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap{
        margin-top: auto;
    }

    .solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap a{
        margin-top: 24px;
    }
}


@media (min-width: 1440px) {
    .solutions-card:not(.margin-s) .ideo-wow-title.style-text .title {
        margin-bottom: 16px;
    }

    /*.solutions-card:not(.margin-s):not(.only-text) .sub-text p {*/
    /*    margin-bottom: 32px;*/
    /*}*/
    .solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap{
        margin-bottom: 32px;
    }

    .block-with-tags .info-tags {
        margin-top: 48px;
    }

    .block-2-grid-team .container > .row {
        grid-template-columns: auto 40%;
    }
}

@media (min-width: 1920px) {
    .solutions-card:not(.margin-s) .ideo-wow-title.style-text .title {
        margin-bottom: 24px;
    }

    /*.solutions-card:not(.margin-s):not(.only-text) .sub-text p {*/
    /*    margin-bottom: 40px;*/
    /*}*/
    .solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap{
        margin-bottom: 40px;
    }
    .solutions-card.margin-s .ideo-wow-title.style-text .title {
        margin-bottom: 16px;
    }

    .solutions-card.margin-s .sub-text p {
        margin-bottom: 24px;
    }

    .solutions-card.margin-s .sub-text p {
        margin-bottom: 24px;
    }

    .block-with-tags .info-tags {
        margin-top: 56px;
    }

    .block-with-tags .common-link {
        margin-top: 40px;
    }
}