.quotation-block .subheader-text p {
    color: var(--secondDarkColor);
}

.centred-h2 h2 {
    max-width: 1098px;
    margin-right: 0;
    margin-left: 0;
}

.solutions-card .wpb_wrapper {
    overflow: hidden;
}

.solutions-card:not(.margin-s) .ideo-wow-title.style-text .title {
    margin-bottom: 12px;
}

.solutions-card.margin-s .ideo-wow-title.style-text .title {
    margin-bottom: 8px;
}

/*.solutions-card:not(.margin-s):not(.only-text) .sub-text p {*/
/*    margin-bottom: 24px;*/
/*}*/

.solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap {
    margin-top: 24px;
}

.solutions-card.margin-s .sub-text p {
    margin-bottom: 16px;
}

.solutions-cards-img .ideo-single-image, .solutions-cards-img .ideo-single-image img {
    width: 100% !important;
}

.block-with-tags .info-tags {
    margin-top: 40px;
}

.block-with-tags .info-tag {
    width: max-content;
}

.block-2-grid-team .container > .row {
    display: grid;
    gap: 16px;
    grid-template-columns: 100%;
}

.block-2-grid-team .container > .row .vc_column_container {
    width: 100%;
}

.teamSwiper .swiper-pagination {
    display: block;
}

.teamSwiper .wp_swiper__navigation {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.teamSwiper .wp_swiper__navigation .wp_swiper__navigation-container {
    display: flex;
    gap: 8px;
}

.teamSwiper .wp_swiper__navigation .wp_swiper__navigation-container .swiper-button-prev, .teamSwiper .wp_swiper__navigation .wp_swiper__navigation-container .swiper-button-next {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0;
    display: block !important;
    right: 0;
    left: 0;
    transform: none;
}

.teamSwiper .wp_swiper__navigation .wp_swiper__navigation-container .swiper-button-prev img,
.teamSwiper .wp_swiper__navigation .wp_swiper__navigation-container .swiper-button-next img {
    width: 100%;
    height: 100%;
}

.teamSwiper .swiper-pagination {
    bottom: auto;
    top: 31px;
    width: max-content;
    right: 140px;
    left: auto;
    color: var(--secondDarkColor);
}

.block-with-tags .common-link {
    margin-top: 24px;
}

.teamSwiper .team-slide {
    background-color: var(--mainLightbg);
    padding: 18px;
    border-radius: 4px;
}

.teamSwiper .team-slide .member-photo {
    overflow: hidden;
    border-radius: 50%;
    width: 96px;
    height: 96px;
}

.teamSwiper .h3-title {
    margin-top: 12px;
    margin-bottom: 4px;
    color: var(--text-header)
}

.teamSwiper .h4-title {
    margin-top: 0;
    margin-bottom: 12px;
}

.teamSwiper .h4-title + p {
    margin-bottom: 12px;
}

.teamSwiper .info-tags .wp-block-group__inner-container .info-tag {
    color: var(--text-header);
    width: max-content;
    margin: initial !important;
}

.teamSwiper .swiper-wrapper {
    height: auto !important;
}

.teamSwiper .swiper-wrapper .swiper-slide {
    height: auto;
}

@media (min-width: 768px) {

    .block-with-tags .common-link {
        margin-top: 32px;
    }

    .solutions-card.margin-s, .solutions-card.margin-s > .wpb_wrapper {
        height: 100%;
    }

    .solutions-card.margin-s > .wpb_wrapper {
        display: flex;
        flex-direction: column;
    }

    .solutions-card.margin-s > .wpb_wrapper .solutions-card__description {
        flex-grow: 1;
    }

    .solutions-card.margin-s .ideo-wow-title.style-text .title {
        margin-bottom: 12px;
    }

    .block-2-grid-team .container > .row {
        grid-template-columns: auto 50%;
        gap: 20px;
    }

    .teamSwiper .team-slide {
        padding: 20px;
    }

    .teamSwiper .team-slide .member-photo {
        width: 104px;
        height: 104px;
    }
}

@media (min-width: 1200px) {
    .value-column-text .wpb_wrapper {
        padding-left: 32px;
    }

    .block-2-grid-team .container > .row {
        grid-template-columns: auto 40%;
    }

    .block-2-grid-team .container > .row .grid-2-title-block.block-with-tags .wpb_wrapper {
        max-width: 816px;
    }

    .block-2-grid-team .container > .row .grid-2-title-block.block-with-tags .h2-subtitle p {
        max-width: 690px;
    }

    .solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap {
        margin-top: auto;
    }

    .solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap a {
        margin-top: 24px;
    }


    .teamSwiper .team-slide .member-photo {
        width: 112px;
        height: 112px;
    }
}


@media (min-width: 1440px) {
    .solutions-card:not(.margin-s) .ideo-wow-title.style-text .title {
        margin-bottom: 16px;
    }

    /*.solutions-card:not(.margin-s):not(.only-text) .sub-text p {*/
    /*    margin-bottom: 32px;*/
    /*}*/
    .solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap {
        margin-bottom: 0;
    }

    .block-with-tags .info-tags {
        margin-top: 48px;
    }


    .teamSwiper .team-slide {
        padding: 24px;
    }

    .teamSwiper .team-slide .member-photo {
        width: 120px;
        height: 120px;
    }

    .teamSwiper .h3-title {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .teamSwiper .h4-title, .teamSwiper .h4-title + p {
        margin-bottom: 16px;
    }
}

@media (min-width: 1920px) {
    .solutions-card:not(.margin-s) .ideo-wow-title.style-text .title {
        margin-bottom: 24px;
    }

    /*.solutions-card:not(.margin-s):not(.only-text) .sub-text p {*/
    /*    margin-bottom: 40px;*/
    /*}*/
    .solutions-card:not(.margin-s):not(.only-text) .sub-text ~ .button-wrap {
        margin-bottom: 0;
    }

    .solutions-card.margin-s .ideo-wow-title.style-text .title {
        margin-bottom: 16px;
    }

    .solutions-card.margin-s .sub-text p {
        margin-bottom: 24px;
    }

    .solutions-card.margin-s .sub-text p {
        margin-bottom: 24px;
    }

    .block-with-tags .info-tags {
        margin-top: 56px;
    }

    .block-with-tags .common-link {
        margin-top: 40px;
    }

    .teamSwiper .team-slide {
        padding: 32px;
    }

    .teamSwiper .team-slide .member-photo {
        width: 128px;
        height: 128px;
    }

    .teamSwiper .h3-title {
        margin-top: 24px;
    }

    .teamSwiper .h4-title, .teamSwiper .h4-title + p {
        margin-bottom: 24px;
    }

    .teamSwiper .wp_swiper__navigation .wp_swiper__navigation-container .swiper-button-prev, .teamSwiper .wp_swiper__navigation .wp_swiper__navigation-container .swiper-button-next {
        width: 56px;
        height: 56px;
    }

    .teamSwiper .swiper-pagination {
        top: 31px;
        right: 160px;
    }
}