.propels-block .icon-with-title h3.title {
    margin-bottom: 12px;
}

.img-full-min .ideo-single-image img {
    aspect-ratio: 1920 / 568;
}

.cta-block.cta-block-b:not(.cta-flex-wrapper) {
    margin-top: 96px;
}


@media (min-width: 768px) {
    .align-centred .row {
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .block-2-grid.mission-section .grid-2-title-block.title-subtitle .h2-title:not(.h2-title-h) h2.title {
        margin-bottom: 0;
    }
    .grid-2-title-block .common-link {
        margin-top: 40px;
    }

    .title-with-subtitle {
        align-items: flex-end;
    }

    .title-with-subtitle .vc_col-sm-6.section-title .h2-title h2.title {
        margin-bottom: 0;
    }
}

@media (min-width: 1920px) {
    .propels-block .icon-with-title h3.title {
        margin-bottom: 24px;
    }
}