.propels-block .icon-with-title h3.title {
    margin-bottom: 12px;
}


@media (min-width: 768px) {
    .align-centred .row {
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .grid-2-title-block.title-subtitle .h2-title h2.title {
        /*margin-bottom: 0;*/
    }
    .grid-2-title-block .common-link {
        margin-top: 40px;
    }
}

@media (min-width: 1920px) {
    .propels-block .icon-with-title h3.title {
        margin-bottom: 24px;
    }
}