.sticky-card-number.column-text p {
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 0;
    color: var(--text-header);
}

.sticky-last-step.sticky-card-title.ideo-wow-title.style-text .title {
    margin-bottom: 0;
    margin-top: 32px;
}


@media (min-width: 768px) {
    .sticky-card-number.column-text p {
        font-size: 36px;
    }
}

@media (min-width: 1200px) {
    .sticky-card-number.column-text p {
        font-size: 40px;
    }
}

@media (min-width: 1440px) {
    .sticky-card-number.column-text p {
        font-size: 48px;
    }
}

@media (min-width: 1920px) {
    .sticky-card-number.column-text p {
        font-size: 56px;
    }
}




@media (min-width: 992px) {
    .process-cards .wpb_wrapper {
        margin-left: auto;
        width: 84.3% !important;
    }
}

@media (min-width: 768px) {
    .process-cards {
width: 100%;
    }
}
@media (min-width: 992px) {
    .process-cards {
        width: 50%;
    }
}

.process-cards .process-btn{
    margin-top: 20px !important;
}

@media (min-width: 992px) {
    .process-cards .process-btn {
        margin-top: 32px;
    }
}

@media (min-width: 1440px) {
    .process-cards .process-btn {
        margin-top: 40px;
    }
}

@media (min-width: 1920px) {
    .process-cards .process-btn {
        margin-top: 48px;
    }
}

.sticky-left-info .process-left-block  .ideo-single-image {
    width: 100% !important;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .sticky-left-info .wpb_wrapper {
        position: sticky;
        top: 174px;
    }
}
@media (min-width: 992px) {
    .vc_page_section .vc_row .vc_column_container.process-cards {
        padding-left: 20px;
    }
    .process-cards .common-card,   .process-cards .process-btn, .sticky-last-step {
        position: relative;
    }

    .sticky-last-step.sticky-card-title.ideo-wow-title.style-text .title {
        margin-top: 19px;
    }

    .process-cards .wpb_wrapper::after  {
        content: '';
        display: block;
        background-color: var(--border);
        position: absolute;
        left: -40px;
        top: 44px;
        width: 1px;
        height: calc(100% - 44px - 24px);
    }

    .process-cards .common-card::before{
        content: '';
        display: block;
        background-color: var(--border);
        position: absolute;
        left: -40px;
        top: 44px;
    }

    .process-cards .common-card::before,  .process-cards .process-btn::before, .sticky-last-step::before {
        height: 1px;
        width: 20px;
    }

    .process-cards .process-btn::before {
        content: '';
        display: block;
        background-color: var(--border);
        position: absolute;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
    }

    .sticky-last-step::before {
        content: '';
        display: block;
        background-color: var(--border);
        position: absolute;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
    }
}

@media (min-width: 1440px) {
    .process-cards .common-card::before, .process-cards .wpb_wrapper::after  {
        left: -48px;
        top: 52px;
    }
    .process-cards .common-card::before, .process-cards .process-btn::before, .sticky-last-step::before  {
        width: 24px;
    }

    .process-cards .wpb_wrapper::after  {
        height: calc(100% - 48px - 24px);
    }
    .process-cards .process-btn::before, .sticky-last-step::before  {
        left: -48px;
    }

    .sticky-last-step.sticky-card-title.ideo-wow-title.style-text .title {
        margin-top: 12px;
    }
}

@media (min-width: 1920px) {
    .vc_page_section .vc_row  .vc_column_container.process-cards {
        padding-left: 24px;
    }

    .process-cards .common-card::before,  .process-cards .wpb_wrapper::after  {
        left: -64px;
        top: 65px;
    }
    .process-cards .common-card::before, .process-cards .process-btn::before, .sticky-last-step::before  {
        width: 32px;
    }

    .process-cards .wpb_wrapper::after  {
        height: calc(100% - 64px - 28px);
    }
    .process-cards .process-btn::before, .sticky-last-step::before  {
        left: -64px;
    }

    .sticky-last-step.sticky-card-title.ideo-wow-title.style-text .title {
        margin-top: 16px;
    }
}

@media (min-width: 768px) {
    .sticky-left-info {
        padding-right: 0 !important;
    }
}