.sticky-card-number.column-text p {
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 0;
    color: var(--text-header);
}


@media (min-width: 768px) {
    .sticky-card-number.column-text p {
        font-size: 36px;
    }
}

@media (min-width: 1200px) {
    .sticky-card-number.column-text p {
        font-size: 40px;
    }
}

@media (min-width: 1440px) {
    .sticky-card-number.column-text p {
        font-size: 48px;
    }
}

@media (min-width: 1920px) {
    .sticky-card-number.column-text p {
        font-size: 56px;
    }
}




@media (min-width: 992px) {
    .process-cards .wpb_wrapper {
        margin-left: auto;
        width: 84.3% !important;
    }
}

@media (min-width: 768px) {
    .process-cards {
width: 100%;
    }
}
@media (min-width: 992px) {
    .process-cards {
        width: 50%;
    }
}

.process-cards .process-btn{
    margin-top: 20px !important;
}

@media (min-width: 992px) {
    .process-cards .process-btn {
        margin-top: 32px;
    }
}

@media (min-width: 1440px) {
    .process-cards .process-btn {
        margin-top: 40px;
    }
}

@media (min-width: 1920px) {
    .process-cards .process-btn {
        margin-top: 48px;
    }
}

@media (min-width: 992px) {
    .sticky-left-info .wpb_wrapper {
        position: sticky;
        top: 174px;
    }
}