body {
    --colorLight: #FFFFFF;
    --primary: #D2AB51;
    --primary-btn: #EAC571;
    --brand---primary: #D8AF4F;
    --text-header: #1D1E22;
    --mainLightbg: #F4F4F8;
    --secondDarkColor: #66676C;
    --grayColor: #9296A4;
    --border: #DCDDE2;
    --copyRight: #4A4B4E;
    --darkGrayBg: #2A2B2F;
    --dark-background-low: #2F3034;
    --dark-background-medium: #2A2B2F;
    --bullet: #E1E2E8;
    --secondLightColor: rgba(255, 255, 255, 0.8);
    --familyRegularWeight: 400;
    --familySemiBoldWeight: 600;
    --familyBoldWeight: 700;
    --font-family: "Manrope", sans-serif;
    --link-gap: 8px;
}

:root {
    --map-scpace-desc: 11px;
    --map-scpace-tabl: 8px;
    --gap-tablet: 20px;
    --gap-desctop-m: 24px;
    --gap-desctop-l: 32px;
    --gap-desctop-xl: 40px;
    --margin-title-mobile: 32px;
    --margin-title-desctop-m: 40px;
    --margin-title-desctop-l: 48px;
    --margin-title-desctop-xl: 56px;
}


.padding-block .container, .container-block,
footer.common-page-width .footer-width.vc_page_section,
.footer-bottom-section .container,
.info-block-2-part .container, body .vc_page_section .vc_row.vc_inner.row-values {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

@media (min-width: 768px) {
    .padding-block .container,.container-block,
    footer.common-page-width .footer-width.vc_page_section,
    .footer-bottom-section .container,
    body .vc_page_section .vc_row.vc_inner.row-values {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .padding-block .container,.container-block,
    footer.common-page-width .footer-width.vc_page_section,
    .footer-bottom-section .container,
    body .vc_page_section .vc_row.vc_inner.row-values {
        padding-left: 112px;
        padding-right: 112px;
    }
}

@media (min-width: 1440px) {
    .padding-block .container,.container-block,
    footer.common-page-width .footer-width.vc_page_section,
    .footer-bottom-section .container,
    body .vc_page_section .vc_row.vc_inner.row-values {
        padding-left: 120px;
        padding-right: 120px;
    }
}


@media (min-width: 1920px) {
    .padding-block .container,.container-block,
    footer.common-page-width .footer-width.vc_page_section,
    .footer-bottom-section .container,
    body .vc_page_section .vc_row.vc_inner.row-values {
        padding-left: 128px;
        padding-right: 128px;
    }
}

.common-page-width {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.dark-block {
    background-color: var(--text-header);
}
.dark-card {
    background-color: var(--dark-background-low);
}

.dark-block-medium {
    background-color: var(--dark-background-medium);
}

.title-subtitle .light-subtitle.h2-subtitle p, .reason-block .swiper li {
    color: var(--secondLightColor);
}

 .light-subtitle p strong {
    font-weight: 500;
     color: var(--colorLight);
}

 .light-text p,body.font-dark  h3.light-text,
 .colored-light.column-text-styled.light-text p, .light-text ul li {
     color: var(--colorLight);
 }


.title-2 {
    margin-bottom: 24px;
}

@media (min-width: 1440px) {
    .title-2 {
        margin-bottom: 32px;
    }
}

@media (min-width: 1920px) {
    .title-2 {
        margin-bottom: 40px;
    }
}

body.font-dark h3 ,body.font-dark .h3-title p,
.hire-accordion-section .accordion .panel-default > .panel-heading .panel-title a,
.case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]),
.case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):active,
.case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):focus,
.case-studies-grid .tg-case-studies-custom [class*="tg-element-"] *:not(del),
.case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]),
.case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):active,
.tg-case-studies-custom a:not([class*="tg-element-"]):focus, .tg-case-studies-custom [class*="tg-element-"] *:not(del),
.industries-accordion .accordion .panel-default > .panel-heading .panel-title a {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
}

.h4-title, .h4-title span, .h4-title p {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
}
.grid-4 .wpb_wrapper {
    display: grid;
    gap: 18px;
}

@media (min-width: 768px) {
    body.font-dark h3,body.font-dark .h3-title p,
    .hire-accordion-section .accordion .panel-default > .panel-heading .panel-title a,
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):active,
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):focus,
    .case-studies-grid .tg-case-studies-custom [class*="tg-element-"] *:not(del),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):active,
    .tg-case-studies-custom a:not([class*="tg-element-"]):focus,
    .tg-case-studies-custom [class*="tg-element-"] *:not(del),
    .industries-accordion .accordion .panel-default > .panel-heading .panel-title a {
        font-size: 22px;
    }
    .grid-4 .wpb_wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}

@media (min-width: 1440px) {
    body.font-dark h3, body.font-dark .h3-title p,
    .hire-accordion-section .accordion .panel-default > .panel-heading .panel-title a,
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):active,
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):focus,
    .case-studies-grid .tg-case-studies-custom [class*="tg-element-"] *:not(del),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):active,
    .tg-case-studies-custom a:not([class*="tg-element-"]):focus,
    .tg-case-studies-custom [class*="tg-element-"] *:not(del),
    .industries-accordion .accordion .panel-default > .panel-heading .panel-title a {
        font-size: 24px;
    }
    .h4-title, .h4-title span, .h4-title p {
        font-size: 20px;
    }

    .grid-4 .wpb_wrapper {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 40px;
    }

}

@media (min-width: 1920px) {
    body.font-dark h3, body.font-dark .h3-title p,
    .hire-accordion-section .accordion .panel-default > .panel-heading .panel-title a,
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):active,
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):focus,
    .case-studies-grid .tg-case-studies-custom [class*="tg-element-"] *:not(del),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]),
    .case-studies-grid .tg-case-studies-custom a:not([class*="tg-element-"]):active,
    .tg-case-studies-custom a:not([class*="tg-element-"]):focus,
    .tg-case-studies-custom [class*="tg-element-"] *:not(del),
    .industries-accordion .accordion .panel-default > .panel-heading .panel-title a{
        font-size: 32px;
    }

    .h4-title, .h4-title span, .h4-title p {
        font-size: 24px;
    }

    .grid-4 .wpb_wrapper {
        row-gap: 48px;
    }
}

::selection {
    background: var(--primary);
    color: #fff;
}
body.vc-on.wrap-wide .vc_page_section.padding-block-y {
    padding-top: 88px;
    padding-bottom: 88px;
}

.flex-block {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media (min-width: 1200px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y {
        padding-top: 104px;
        padding-bottom: 104px;
    }
}

@media (min-width: 1440px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y {
        padding-top: 112px;
        padding-bottom: 112px;
    }
}

@media (min-width: 1920px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

body.vc-on.wrap-wide .vc_page_section.padding-block-y-t {
    padding-top: 96px;
}

@media (min-width: 1200px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y-t {
        padding-top: 104px;
    }
}

@media (min-width: 1440px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y-t {
        padding-top: 112px;
    }
}

@media (min-width: 1920px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y-t {
        padding-top: 120px;
    }
}

body.vc-on.wrap-wide .vc_page_section.padding-block-y-b {
    padding-bottom: 96px;
}

@media (min-width: 1200px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y-b {
        padding-bottom: 104px;
    }
}

@media (min-width: 1440px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y-b {
        padding-bottom: 112px;
    }
}

@media (min-width: 1920px) {
    body.vc-on.wrap-wide .vc_page_section.padding-block-y-b {
        padding-bottom: 120px;
    }
}

body a, .common-link a {
    color: var(--primary-btn);
}
body a.light-btn {
    color: var(--text-header);
}

body  a:hover {
    color: var(--brand---primary);
    transition: all .3s ease-out;
}

.second-bg,.colored-light.column-text-styled.second-bg  {
    background-color: var(--mainLightbg);
}

.bg-light {
    background-color: var(--colorLight);
}

.title-centred .column-text-styled.align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title-centred .hero-sub-text {
    margin: 0 auto;
}

.main-medium-text, .main-medium-text p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.4;
    margin-top: 0;
    font-weight: 500;
}

.main-text, .column-text.main-text p,.main-text p,
.main-text .menu-item a,
.colored-light.container-tabs .nav-tabs > li a,
.main-text li, .SwiperSolver li,
#aboutUsContactForm input, #aboutUsContactForm textarea,
.wpcf7 form.invalid .wpcf7-response-output, .swiper li, .common-card li {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    margin-top: 0;
}
.common-card li strong {
    font-size: 18px;
}


@media (min-width: 1200px) {
    .h2-title-h {
        max-width: 1099px;
    }
}

@media (min-width: 1920px) {
    .main-text, .column-text.main-text p,.main-text p, .main-text .menu-item a ,
    .SwiperSolver li,  #aboutUsContactForm input, #aboutUsContactForm textarea,
    .wpcf7 form.invalid .wpcf7-response-output, .swiper li, .main-medium-text, .main-medium-text p, .common-card li {
        font-size: 18px;
    }

    .h2-title-h {
        max-width: 1099px;
    }
}


.subheader-text p {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

@media (min-width: 1440px) {
    .subheader-text p {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
    .subheader-text p {
        font-size: 24px;
    }
}

.transparent-dark.column-text p > a.img-link::before {
    content: none;
}

.pc-global-section {
    display: none;
}

a:focus, a:hover {
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
}

.h2-subtitle .primary-text {
    font-weight: 500;
}

.primary-text,
.colored-light.column-text-styled .primary-text{
    color: var(--primary);
}

a.long-link, .row-values a, .long-link a, .solutions-cards .column-text li a {
    position: relative;
    width: max-content;
    display: inline !important;
    width: max-content;
    color: var(--brand---primary);
    background:
            linear-gradient(to right,transparent, transparent),
            linear-gradient(to right, var(--brand---primary), var(--brand---primary), var(--brand---primary));
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a.long-link:hover, a.long-link:focus,
.row-values a:hover, .row-values a:focus,
.long-link a:hover, .long-link a:focus ,
.solutions-cards .column-text li a:hover, .solutions-cards .column-text li a:focus {
    color: var(--brand---primary) ;
    background-size: 0 1px, 100% 1px
}

.flex-align-end .container > .row {
    align-items: flex-end;
}

.full-btn.main-btn {
    margin: 0;
    width: 100%;
}

.full-btn-with-arrow::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66797 16H25.3346' stroke='%231D1E22' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 6.66675L25.3333 16.0001L16 25.3334' stroke='%231D1E22' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 1920px) {
    .full-btn-with-arrow::after {
        width: 32px;
        height: 32px;
    }
}
